@import "normalize/default";
@import "normalize/custom";
@import "variables/colors";
@import "variables/transitions";
@import "base/typography";
@import "base/links";
@import "base/buttons";
@import "base/loaders";
@import "base/progress";
@import "base/input-import";
@import "base/lists";
@import "responsive/breakpoints";
@import "basscss/default";

body {
  color: $color-neutral;
}

// transitions on interactive elements
a,
button,
input,
select,
textarea {
  transition-property: background-color, color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
}
