@import "base";


/* styleguide layout */
.sg-header {
  background-color: $color-neutral--04;
  border-bottom: 1px solid $color-neutral--10;
  height: 60px;
  h1 {
    margin: 0;
    line-height: 58px;
    span {
      color: $color-neutral--60;
    }
  }
  .sg-container {
    padding-top: 0;
  }
  img {
    display: inline-block;
    vertical-align: -5px;
  }
}

.sg-main {
  padding-top: 1.5rem;
}

.sg-container {
  margin: 0 auto;
  padding: .75rem 2rem;
  max-width: 1170px;
}

.sg-section {
  max-width: 800px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  clear: both;
}

.sg-meta {
  font-size: .875rem;
  color: $color-neutral--50;
}

.sg-example {
  margin-bottom: 1rem;
  padding: 1.5rem 1rem;
  border: 1px solid $color-neutral--30;
  border-radius: 4px;
}

.sg-label {
  font-size: .875rem;
  color: $color-neutral--60;
  margin-bottom: 1rem;
  @include uppercase;
  @media (min-width: 640px) {
    width: 20%;
    float: left;
  }
}

.sg-subsection {
  img {
    max-width: 120px;
    height: auto;
    float: left;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }
  @media (min-width: 640px) {
    width: 80%;
    float: left;
  }
}

.color-blocks {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  @media (min-width: 800px) {
    flex-direction: row;
  }
}

@mixin color-block($color) {
  flex: 0 1 0;
  margin-right: 1rem;
  margin-bottom: 1rem;
  background-color: $color;
  color: $color-white;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  border-radius: 6px;
  &:hover {
    background-color: darken($color, 30%);
  }
  &::before {
    content: "#{$color}";
    display: block;
    width: 100%;
    height: 72px;
    padding: 22px 10px;
  }
}

.color-block--neutral {
  @include color-block($color-neutral);
}
.color-block--neutral--90 {
  @include color-block($color-neutral--90);
}
.color-block--neutral--70 {
  @include color-block($color-neutral--70);
}
.color-block--neutral--50 {
  @include color-block($color-neutral--50);
}
.color-block--neutral--30 {
  @include color-block($color-neutral--30);
}
.color-block--neutral--10 {
  @include color-block($color-neutral--10);
}
.color-block--neutral--50 {
  @include color-block($color-neutral--50);
}
.color-block--green {
  @include color-block($color-green);
}
.color-block--info {
  @include color-block($color-info);
}
.color-block--danger {
  @include color-block($color-danger);
}
.color-block--warning {
  @include color-block($color-warning);
}

.sg-code {
  font-size: 1rem;
  font-family: monospace;
  color: $color-neutral--80;
  background-color: $color-neutral--04;
  padding: 1px;
}

.sg-pre {
  font-size: 1rem;
  font-family: monospace;
  color: $color-neutral--80;
  background-color: $color-neutral--04;
  padding: 1rem;
  overflow-x: auto;
}
