$color-white: #FFFFFF;
$color-black: #293648;

$color-neutral: #293648;
$color-neutral-90: #394B5B;
$color-neutral-80: #505F6D;
$color-neutral-70: #65737F;
$color-neutral-60: #7C8792;
$color-neutral-50: #919BA4;
$color-neutral-40: #A7AFB6;
$color-neutral-30: #C3C9CD;
$color-neutral-20: #D3D7DB;
$color-neutral-14: #E0E3E5;
$color-neutral-10: #E9EBEC;
$color-neutral-04: #F6F7F8;

$color-green: #2ACA4B;
$color-green-hover: #199E33;
$color-green-darker: #006607;
$color-green-disabled: #94E4A5;

$color-blue: #007FFF;
$color-blue-hover: #0066CC;
$color-blue-darker: #003E83;
$color-blue-disabled: #7FBFFF;

$color-mint: #159F84;
$color-mint-hover: #0B856D;
$color-mint-darker: #045943;
$color-mint-disabled: #8ACFC1;

$color-yellow: #F2CD02;
$color-yellow-hover: #C4A500;
$color-yellow-darker: #9F7D07;
$color-yellow-disabled: #FBF0B3;

$color-red: #D8524E;
$color-red-hover: #B33C38;
$color-red-darker: #A52724;
$color-red-disabled: #EBA8A6;

$color-pink: #F9A5E4;
