// buttons

.btn {
  display: inline-block;
  padding: .375rem .75rem;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
  background-color: $color-neutral-50;
  color: $color-white;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  line-height: 1.5;
  vertical-align: middle;
  letter-spacing: .02em;
  &:hover, &:focus {
    background-color: $color-neutral-60;
    color: $color-white;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
  }
}

.btn--green {
  background-color: $color-green;
  &:hover, &:focus {
    color: $color-white;
    background-color: $color-green-hover;
  }
}

.btn--blue {
  background-color: $color-blue;
  &:hover, &:focus {
    color: $color-white;
    background-color: $color-blue-hover;
  }
}

.btn--yellow {
  background-color: $color-yellow;
  &:hover, &:focus {
    color: $color-white;
    background-color: $color-yellow-hover;
  }
}

.btn--red {
  background-color: $color-red;
  &:hover, &:focus {
    color: $color-white;
    background-color: $color-red-hover;
  }
}

.btn[disabled],
.btn--disabled {
  background-color: $color-neutral-10;
  color: $color-neutral-40;
  cursor: default;
  &:hover, &:focus {
    background-color: $color-neutral-10;
    color: $color-neutral-40;
    cursor: default;
  }
}

.btn--small {
  font-size: .75rem;
  padding: .3rem .5rem;
}

// .btn--default {
//   font-size: .75rem;
// }

.btn--large {
  font-size: 1.125rem;
  padding: .5rem .75rem;

}

.btn--cta {
  font-size: 1.5rem;
  padding: .75rem 1.25rem .85rem 1.25rem;
}
