// links
a {
  color: $color-info;
}

a:hover,
a:focus {
  color: $color-info-hover;
}

.link--green {
  color: $color-green;
  &:hover,
  &:focus{
    color: $color-green-hover;
  }
}

.link--warning {
  color: $color-warning;
  &:hover,
  &:focus{
    color: $color-warning-hover;
  }
}

.link--danger {
  color: $color-danger;
  &:hover,
  &:focus{
    color: $color-danger-hover;
  }
}

a[disabled],
.link--disabled {
  color: $color-neutral-40;
  &:hover,
  &:focus{
    color: $color-neutral-40;
  }
}
