// progress bar

$progress-height: 5px;
.progress {
  width: 100%;
  height: $progress-height;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: $color-neutral--20;
}

.progress__bar {
  width: 0%;
  height: $progress-height;
  background-color: $color-info;
}

.progress__bar--complete {
  background-color: $color-green;
}
