// mixins

// uppercase
@mixin uppercase {
  text-transform: uppercase;
  letter-spacing: .025em;
}

// global text styles

body, input, textarea, select, button {
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif;
}

body {
  line-height: 1.5;
}

// headings

.hd-xl, h1 {
  font-size: 2.5rem;
  line-height: 1.25;
  margin-bottom: 1rem;
}

.hd-l, h2 {
  font-size: 2.25rem;
  line-height: 1.25;
  margin-bottom: 1rem;
}

.hd-m, h3 {
  font-size: 1.75rem;
  line-height: 1.25;
  margin-bottom: 1rem;
}

.hd-s, h4 {
  font-size: 1.5rem;
  line-height: 1.25;
}

.hd-xs, h5 {
  font-size: 1.25rem;
  line-height: 1.25;
}

.hd-xxs, h6 {
  font-size: .875rem;
  line-height: 1.25;
  @include uppercase;
}

// paragraphs

.lead {
  font-size: 1.5rem;
  line-height: 1.333;
  margin-bottom: 1.5rem;
}

// blockquote

.blockquote {
  margin-left: 0;
  padding-left: 1rem;
  border-left: 4px solid $color-neutral-20;
  blockquote {
    margin: 0;
  }
  figcaption {
    font-size: .875rem;
    line-height: 1.25;
    color: $color-neutral-60;
  }
}
