<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dat Design</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="./styleguide.css">
  </head>
  <body>
    {{> svgSprite }}
    <header class="sg-header">
      <div class="sg-container">
        <h1>
          <img src="downloads/dat-hexagon.svg" style="width: 24px;">
          Dat <span>Design</span>
        </h1>
      </div>
    </header>
    <main class="sg-main">
      <div class="sg-container">
        <div class="sg-section">
          <p>
            This is the style guide for <a href="http://dat-data.com/">Dat</a>, an open source, decentralized data tool for distributing datasets. This styleguide provides general design guidance for Dat projects, and also comes with an <a href="https://github.com/datproject/design#dat-design-api">API</a> for importing (s)css assets into your projects. If some Dat project is in need of a new design element or concept please <a href="https://github.com/datproject/design/issues">open an issue</a>.
          </p>
        </div>
        {{> logo }}
        {{> colors }}
        {{> typography }}
        {{> elements }}
        {{> links }}
        {{> buttons }}
        {{> transitions }}
        {{> progress }}
        {{> forms }}
        {{> icons }}
      </div>
    </main>
  </body>
</html>
