/* additional customizations to normalize.scss for dat project */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
}

p, ul, ol, dl {
  margin-bottom: 1rem;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}
